<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
    <title>Minha conta - Minds Banks</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <section class="main page-account">
        <%- include('partials/modalTransfer.ejs') %>
        <div class="sidebar">
            <h3>O que você deseja fazer hoje?</h3>
            <a href="#">Extrato</a>
            <a href="#" onclick="openModal()">Transferencia</a>
            <a href="#">Empréstimo</a>
            <a href="#">Dados Pessoais</a>
            <a href="#">Configurações</a>
            <hr>
        </div><!-- sidebar -->

        <div class="content">
            <div class="section-title">
                <h2>Extrato</h2>
                <hr>
                <p>Movimentações de Fevereiro de 2024</p>
            </div><!-- section-title-->
            <div class="dashboard">
                <div class="incomingBox d-flex">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
                    </svg>
                    <div>
                        <span>Entradas</span>
                        <div id="incomingBox">R$00.000,00</div>
                    </div>
                </div>
                <div class="outgoingBox d-flex">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v13m0-13 4 4m-4-4-4 4"/>
                    </svg>
                    <div>
                        <span>Saídas</span>
                        <div id="outgoingBox">R$00.000,00</div>
                    </div>
                </div>
                <div class="totalsBox d-flex">
                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.3a5 5 0 0 0 2.6 1.7c2.2.6 4.5-.5 5-2.3.4-2-1.3-4-3.6-4.5-2.3-.6-4-2.7-3.5-4.5.5-1.9 2.7-3 5-2.3 1 .2 1.8.8 2.5 1.6m-3.9 12v2m0-18v2.2"/>
                    </svg>
                    <div>
                        <span>Total</span>
                        <div id="totalsBox">R$00.000,00</div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="table-titles">
                    <div>Data da Transação</div>
                    <div>Descrição</div>
                    <div>Tipo de Transação</div>
                    <div>Valor</div>
                </div>
                <% if (data.transactions && data.transactions.length> 0) { %>
                    <% data.transactions.forEach((transaction)=> { %>
                        <% if (transaction.transaction_direction.trim()==='outgoing' ) { %>
                            <div class="saidas-extrato">
                                <% } else { %>
                                    <div class="entradas-extrato">
                                        <% } %>
                                            <div class="transaction_date">
                                                <%= transaction.transaction_date %>
                                            </div>
                                            <div class="transaction_description">
                                                <%= transaction.description %>
                                            </div>
                                            <div class="transaction_type">
                                                <%= transaction.transaction_type %>
                                            </div>
                                            <div class="amount">
                                                <% if (transaction.transaction_direction.trim()==='outgoing') { %>
                                                    <%= '- ' + transaction.amount.toLocaleString('pt-br',{style: 'currency' , currency: 'BRL' }) %>
                                                <% } else { %>
                                                    <%= '+ ' + transaction.amount.toLocaleString('pt-br',{style: 'currency' , currency: 'BRL' }) %>
                                                <% } %>
                                            </div>
                                    </div>
                                    <% }) %>
                                    <% } else { %>
                                        <div class="no-transactions">No transactions</div>
                                    <% } %>
                            </div><!-- section-content -->
            </div><!-- content -->
    </section><!-- main -->

    <script type="text/javascript">
        const incoming = document.getElementById('incomingBox');
        const outgoing = document.getElementById('outgoingBox');
        const totals = document.getElementById('totalsBox');
        incomingValue = <%= data.incomingTotal %>;
        outgoingValue = <%= data.outgoingTotal %>;
        totalsValue = incomingValue - outgoingValue;
        incoming.innerHTML = `${incomingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        outgoing.innerHTML = `${outgoingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        totals.innerHTML = `${totalsValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
    </script>
    <script type="text/javascript" src="/scripts/account.js" defer></script>

</body>
</html>