<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
        <title>Faça seu Login no Minds Bank</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <section class="main">
        <div class="modal_container" id="modalContainer">
            <div class="modal" id="modal">
                <div class="section-title">
                    <h2>Transferência</h2>
                    <hr>
                    <form>
                        <div class="pickUserTransfer">Escolha para quem você deseja enviar recursos:</div>
                        <div>
                            <label for="username">Favoritos:</label>
                            <select id="username" name="username" autocomplete=false required>
                                <% data.listOfUsers.forEach((user)=> { %>
                                <option value="<%= user.username %>"><%= user.full_name %></option>
                                <% })%>
                            </select>
                        </div>
                        <br/>
                        <div>
                            <label for="amountTransfer">Valor:</label>
                            <input type="text" name="amountTransfer" id="amountTransfer" placeholder="Valor de Transferencia" autocomplete=false oninput="mascaraReais(event);" required>
                        </div>
                        <hr/>
                        <div>
                            <button id="transferBtn" type="button">Transferir</button>
                            <button id="cancelTranferBtn" type="button" onclick="closeModal()">Cancelar</button>
                        </div>
                    </form>
                </div><!-- section-title-->
            </div>
        </div>
        <div class="sidebar">
            <h3>O que você deseja fazer hoje?</h3>
            <a href="#">Extrato</a>
            <a href="#" onclick="openModal()">Transferencia</a>
            <a href="#">Empréstimo</a>
            <a href="#">Dados Pessoais</a>
            <a href="#">Configurações</a>
            <hr>
        </div><!-- sidebar -->

        <div class="content">
            <div class="section-title">
                <h2>Extrato</h2>
                <hr>
                <p>Movimentações de Fevereiro de 2024</p>
            </div><!-- section-title-->
            <div class="dashboard">
                <div class="incomingBox">
                    Entradas
                    <div  id="incomingBox">R$00.000,00</div>
                </div>
                <div class="outgoingBox">
                    Saídas
                    <div  id="outgoingBox">R$00.000,00</div>
                </div>
                <div class="totalsBox">
                    Total
                    <div  id="totalsBox">R$00.000,00</div>
                </div>
            </div>
            <div class="section-content">
                <% if (data.transactions && data.transactions.length> 0) { %>
                    <% data.transactions.forEach((transaction)=> { %>
                        <% if (transaction.transaction_direction.trim()==='outgoing' ) { %>
                            <div class="saidas-extrato">
                                <% } else { %>
                                    <div class="entradas-extrato">
                                        <% } %>
                                            <div class="transaction_type">
                                                <%= transaction.transaction_type %>
                                            </div>
                                            <div class="transaction_description">
                                                <%= transaction.description %>
                                            </div>
                                            <div class="transaction_date">
                                                <%= transaction.transaction_date %>
                                            </div>
                                            <div class="amount">
                                                <%= transaction.amount.toLocaleString('pt-br',{style: 'currency' , currency: 'BRL' }) %>
                                            </div>
                                    </div>
                                    <hr>
                                    <% }) %>
                                    <% } else { %>
                                        <div>No transactions</div>
                                    <% } %>
                            </div><!-- section-content -->
            </div><!-- content -->
    </section><!-- main -->
    <script type="text/javascript">
        const incoming = document.getElementById('incomingBox');
        const outgoing = document.getElementById('outgoingBox');
        const totals = document.getElementById('totalsBox');
        incomingValue = <%=data.incomingTotal%>;
        outgoingValue = <%=data.outgoingTotal%>;
        totalsValue = incomingValue - outgoingValue;
        incoming.innerHTML = `${incomingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        outgoing.innerHTML = `${outgoingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        totals.innerHTML = `${totalsValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
    </script>
    <script type="text/javascript" src="/scripts/functions.js"></script>
    <script type="text/javascript" src="/scripts/account.js"></script>
</body>
</html>