<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('partials/head.ejs') %>
    <title>Minha conta - Minds Banks</title>
</head>

<body>
    <header>
        <%- include('partials/header.ejs') %>
    </header>
    <section class="main page-account">
        <%- include('partials/modalTransfer.ejs') %>
        <div class="sidebar">
            <h3>O que você deseja fazer hoje?</h3>
            <a href="#">Extrato</a>
            <a href="#" onclick="openModal()">Transferencia</a>
            <a href="#">Empréstimo</a>
            <a href="#">Dados Pessoais</a>
            <a href="#">Configurações</a>
            <hr>
        </div><!-- sidebar -->

        <div class="content">
            <div class="section-title">
                <h2>Extrato</h2>
                <hr>
                <p>Movimentações de Fevereiro de 2024</p>
            </div><!-- section-title-->
            <div class="dashboard">
                <div class="incomingBox">
                    <span>Entradas</span>
                    <div  id="incomingBox">R$00.000,00</div>
                </div>
                <div class="outgoingBox">
                    <span>Saídas</span>
                    <div  id="outgoingBox">R$00.000,00</div>
                </div>
                <div class="totalsBox">
                    <span>Total</span>
                    <div  id="totalsBox">R$00.000,00</div>
                </div>
            </div>
            <div class="section-content">
                <div class="table-titles">
                    <div>Data da Transação</div>
                    <div>Descrição</div>
                    <div>Tipo de Transação</div>
                    <div>Valor</div>
                </div>
                <% if (data.transactions && data.transactions.length> 0) { %>
                    <% data.transactions.forEach((transaction)=> { %>
                        <% if (transaction.transaction_direction.trim()==='outgoing' ) { %>
                            <div class="saidas-extrato">
                                <% } else { %>
                                    <div class="entradas-extrato">
                                        <% } %>
                                            <div class="transaction_date">
                                                <%= transaction.transaction_date %>
                                            </div>
                                            <div class="transaction_description">
                                                <%= transaction.description %>
                                            </div>
                                            <div class="transaction_type">
                                                <%= transaction.transaction_type %>
                                            </div>
                                            <div class="amount">
                                                <% if (transaction.transaction_direction.trim()==='outgoing') { %>
                                                    <%= '- ' + transaction.amount.toLocaleString('pt-br',{style: 'currency' , currency: 'BRL' }) %>
                                                <% } else { %>
                                                    <%= '+ ' + transaction.amount.toLocaleString('pt-br',{style: 'currency' , currency: 'BRL' }) %>
                                                <% } %>
                                            </div>
                                    </div>
                                    <% }) %>
                                    <% } else { %>
                                        <div>No transactions</div>
                                    <% } %>
                            </div><!-- section-content -->
            </div><!-- content -->
    </section><!-- main -->

    <script type="text/javascript">
        const incoming = document.getElementById('incomingBox');
        const outgoing = document.getElementById('outgoingBox');
        const totals = document.getElementById('totalsBox');
        incomingValue = <%= data.incomingTotal %>;
        outgoingValue = <%= data.outgoingTotal %>;
        totalsValue = incomingValue - outgoingValue;
        incoming.innerHTML = `${incomingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        outgoing.innerHTML = `${outgoingValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
        totals.innerHTML = `${totalsValue.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' })}`;
    </script>
    <script type="text/javascript" src="/scripts/account.js" defer></script>

</body>
</html>